body{
  background-color: blue;
  color: red;
}

#clock{
  font-size: 5em;
  font-family: sans-serif;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 30px;
  background-color: yellow;
  width: 325px;
  margin-left: 475px;
}

h1{
	text-align: center;
	font-size: 75px;
}

p{
  text-align: center;
  
}

#min{
  color: black;
}